@page "/bikes"
@using System.Net.Http
@using bikebuddy.models
@attribute [StreamRendering]

<PageTitle>Test</PageTitle>

<h1>TestPage</h1>

<p>This component demonstrates showing data by calling a different web api.</p>

@if (bikes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Make</th>
                <th>Model</th>
                <th>Nickname</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Bike bike in bikes)
            {
                <tr>
                    <td>@bike.Make</td>
                    <td>@bike.Model</td>
                    <td>@bike.NickName</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private Bike[]? bikes;

    protected override async Task OnInitializedAsync()
    {
        // call the bikebuddy.api weatherforecast api using httpclient
        HttpClient Http = new HttpClient();
        bikes = await Http.GetFromJsonAsync<Bike[]>("http://bikebuddyapi:4040/bikes");
    }

}
